PORT=3001
DATABASE_URL="postgresql://johnhashim@localhost:5432/redaction_studio?schema=public"
FRONTEND_URL="http://localhost:5173"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:5173/api/auth/google/callback"
